body {
    background: red;
}

h2 {
    text-align: center ;
    font-family: cursive;
    font-size: 40px;
    margin: 20px 0px 100px 0px;
    color: white;
}

#pic {
    background-image: url(Pics/emoji.png);
    width: 150px;
    height: 150px;
    background-size: 100%;
    margin: 50px auto 0px auto;
}

#container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: 100px auto;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.4);
    
    p {
        text-align: center;
    }
}

#area {
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    padding: 20px;
}